#welcome header{
    color:black;
    background-color: #FB6F92;
    width:100%;
    display: flex;
    justify-content:left;
    align-items:start;
    padding-bottom: none;
}

/*Background Picture*/
#wonderland-picture{
    background: url("../images/cakeland.png") no-repeat center center/cover;
    position: relative;
    height:500px;
    width: 100%;
}

#welcome-text {
    /* Final rgba value sets the opacity so it is semi-transparent */
    background-color: rgba(241, 109, 107, .7);
    font-size: 110%;
    position: absolute;
    bottom: 30px;
    width: 80%;
    min-height: 200px;
    padding-left: 10px;
}